.resultados{
    border: 2px solid;
    background-color: aquamarine;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.info-arbitro{
    margin-bottom: 20px;
}


.escudo{
    height: 300px;
    width: 230px;
}
